body {
    background-color: #423352;
    color: white;
    font-family: 'Open-Sans', sans-serif;
}

h1, h2 {
    font-family: 'Lobster';
}

h1 {
    font-size: 3em;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
}

h2 {
    font-size: 2em;
    text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.9);
}

.titlebox {
    background: linear-gradient(90deg, #423352, #80639D, #423352);
    text-align: center;
}

p, ul {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: white;
}

a:visited {
    color: rgb(220, 220, 220);
}
